Package: duzeru-lightdm
Version: 2.0.0-0duzeru
Architecture: amd64
Installed-Size: 3422466
Maintainer: DuZeru Team <contato@duzeru.org>
Original-Maintainer: Francisco Alves <dffrancisco@gmail.com>
Depends: lightdm, libc6 (>= 2.4), libglib2.0-0 (>= 2.30.0), libgtk-3-0 (>= 3.0.0), libjavascriptcoregtk-3.0-0 (>= 1.5.1), liblightdm-gobject-1-0 (>= 1.2.2), libwebkitgtk-3.0-0 (>= 1.3.10)
Recommends: lightdm
Provides: lightdm-greeter
Section: x11
Priority: optional
Homepage: http://www.duzeru.org
Description: LightDM Webkit Greeter
 A LightDM greeter that uses WebKit (HTML/CSS).
